header {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
  margin: 24px auto;
  border-radius: 24px;
  border: 1px solid #197686;
  background: rgba(5, 37, 44, 0.4);
  backdrop-filter: blur(2px);
}
#logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
#logo > div {
  display: flex;
  padding: 6px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid #0e464f;
  background: #052f35;
}
#nav-links {
  display: flex;
  align-items: center;
  gap: 16px;
  list-style: none;
}
#nav-links > li {
  padding: 10px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color:#B3B3B3 ;
  cursor: pointer;
}
#nav-links > li.active{
    color: #ffffff;
}
header button {
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  border: 1px solid rgba(213, 234, 0, 0.1);
  background: #fff;
  color: #0a0c11;
  font-family: JejuMyeongjo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
}
header button:hover{
border: 1px solid #D9D9D9;
background: #24A0B5;
color: #fafafa;
}
header button:hover  > img{
  transform: rotate(-45deg);
}
@media (max-width: 600px) {
    #nav-links{
        display: none;
    }
  }